.valid {
  color: green;
}

.newsletter-text {
  padding: 1.5rem;
}

.newsletter {
  // background-image: url(https://i.ibb.co/RSXsw2v/coffee-creative-cup-1201624.jpg);
  // background-image: url(https://i.ibb.co/HHQxdmj/damon-lam-Osd-Ty9r-HB5-U-unsplash.jpg);
  // background-image: url(https://i.ibb.co/CtyKGpm/delivery-envelopes-mail-1919343.jpg);
  background-image: url(https://i.ibb.co/Fmh7qX6/mailbox-plants-postbox-896790.jpg);
  background-size: cover;
  background-position: bottom;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
