<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Platform game: inizializziamo
      </h1>
      <h2 class="subtitle">
        Prepariamo il canvas con tutti metodi che ci servono
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="column is-8 is-offset-2">
      <div class="content is-medium">
        <p> Iniziamo inizializziando ( ma che gioco di parole vi ho tirato fuori? ) il canvas.</p>

        <section class="paragraph">
          <h2>[paragrafo]</h2>

          <p>Apriamo il file main.js che abbiamo creato nell’articolo precedente [nome dell’articolo] e iniziamo a
            scrivere il nostro codice.</p>
          <pre><code [highlight]="mainCode"></code></pre>

          <p>Questo è il codice base che inizializza. Lo useremo quando avremo a che fare con il canvas. dettaglio.</p>

          <p>Abbiamo catturato l’elemento &lt;canvas&gt; grazie al comando javascript document.querySelector("#canvas");
            tramite il suo identificativo “#canvas” e lo abbiamo salvato nella variabile canvas.</p>

          <p>Abbiamo assegnato l’altezza e la larghezza al canvas grazie alle proprietà width e height.</p>

          <p>Se il canvas è la tela, la variabile context è la nostra scatola degli attrezzi, dove custodiremo gli
            strumenti per dipingere.</p>

          <p>Con il metodo getContext abbiamo specificato il contesto con il quale lavorare, nel nostro caso è il ‘2d’ e
            abbiamo preso quindi i giusti attrezzi per lavorare su una tela bidimensionale. </p>
          <p>Se al posto del contesto “2d”, avessimo specificato “webgl”, ora lavoreremo con dei metodi per il “3d”.</p>
          <p>Per capire meglio, potremmo paragonare il 2d alla pittura, dove nella variabile context, ho vari strumenti
            per dipingere come i pennelli e la tavolozza. Mentre il webgl, potremmo paragonarlo alla scultura per la
            quale servirebbero attrezzi diversi come, il martello e lo scalpello.</p>
        </section>
        <br>
        <section class="paragraph">
          <h2>[paragrafo]</h2>
          <p>Iniziamo a prendere confidenza con alcuni metodi del context creando una rudimentale presentazione.</p>
          <pre><code [highlight]="canvasFillCode"></code></pre>
          <p>fillRect(x, y, larghezza, altezza) è il metodo per disegnare un rettangolo, i primi due parametri sono il
            punto di origine da dove si svilupperà, nel nostro caso partirà dopo 10px dal bordo laterale e superiore e
            avrà una larghezza di 580px e una altezza di 380px, per lasciargli un bordo anche sugli altri lati. Se
            avessimo voluto un rettangolo grande come il canvas, gli avremmo passato come parametri x:0 y:0 (il punto di
            origine) e altezza e lunghezza come il canvas, quindi un 600x400.</p>
          <p>fillStyle è la proprietà che da il colore, nel nostro caso un bellissimo arancione 🤢,
            Le proprietà che danno lo stile vanno sempre sopra l’oggetto, come nell’inglese che gli aggettivi vanno
            prima del nome.
          </p>
          <canvas></canvas>
          <p>Visto che la nostra introduzione è un po’ spoglia, come compito a casa, dovrete creare un bottone. Non
            preoccupatevi, per adesso dovrà essere statico, ma lo andremo ad attivare nell’articolo [nome del articolo]
            sotto il nome. Questo è il mio...aspetto il tuo!</p>
          <canvas></canvas>
          <p>Abbiamo visto solo alcuni dei metodi e delle proprietà del context 2d, se vuoi approfondire l’argomento ti
            rimando alla pagina della 3wschools: HTML canvas reference,
            se invece fremi dalla voglia di programmare il tuo gioco, visto che abbiamo preparato il nostro canvas
            all’azione, ci vediamo al prossimo articolo…..[nome articolo]
          </p>
        </section>
        <br>
      </div>
    </div>
    <!-- column is-8 is-offset-2 -->
  </div>
  <!-- container -->
</section>
<!-- section -->
