<div class="container">
  <div class="columns is-multiline">
    <div class="column is-4">

      <a routerLink="intro">
        <div class="card article">
          <div class="card-content">
            <div class="media-center">
              <figure class="image">
                <img src="https://i.ibb.co/KxgjftS/img-platform-single-Screen-art1.jpg" class="author-image"
                  alt="Creare un Platform articolo 1">
              </figure>
            </div>
            <div class="media">

              <div class="media-content has-text-centered">
                <p class="title article-title is-6">Come creare un <strong>platform</strong> single Screen <br>
                  <i>Articolo 1</i>
                </p>
                <p class="subtitle is-4 article-subtitle">
                  Cosa sono i Platform game
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="column is-4">
      <a routerLink="cosa-serve">
        <div class="card article">
          <div class="card-content">
            <div class="media-center">
              <figure class="image">
                <img src="https://i.ibb.co/FnWVhpz/img-platform-single-Screen-art2.jpg" class="author-image"
                  alt="Creare un Platform articolo 2">
              </figure>
            </div>
            <div class="media">

              <div class="media-content has-text-centered">
                <p class="title article-title is-6">Come creare un <strong>platform</strong> single Screen <br>
                  <i>Articolo 2</i>
                </p>
                <p class="subtitle is-4 article-subtitle">
                  Scopriamo cosa ci serve per il nostro progratto
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="column is-4">
      <a routerLink="inizializziamo">
        <div class="card article">
          <div class="card-content">
            <div class="media-center">
              <figure class="image">
                <img src="https://i.ibb.co/FzYN1Xb/img-platform-single-Screen-art3.jpg" class="author-image"
                  alt="Creare un Platform articolo 3">
              </figure>
            </div>
            <div class="media">

              <div class="media-content has-text-centered">
                <p class="title article-title is-6">Come creare un <strong>platform</strong> single Screen <br>
                  <i>Articolo 3</i>
                </p>
                <p class="subtitle is-4 article-subtitle">
                  Iniziamo a strutturare il nostro progetto
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="column is-4">
      <a routerLink="canvas">
        <div class="card article">
          <div class="card-content">
            <div class="media-center">
              <figure class="image">
                <img src="https://i.ibb.co/sKMkcPv/img-platform-single-Screen-art4.jpg" class="author-image"
                  alt="Creare un Platform articolo 4">
              </figure>
            </div>
            <div class="media">

              <div class="media-content has-text-centered">
                <p class="title article-title is-6">Come creare un <strong>platform</strong> single Screen <br>
                  <i>Articolo 5</i>
                </p>
                <p class="subtitle is-4 article-subtitle">
                  Iniziamo anzi inizializziamo
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="column is-4">
      <a routerLink="creazione-personaggio">
        <div class="card article">
          <div class="card-content">
            <div class="media-center">
              <figure class="image">
                <img src="https://i.ibb.co/4fCLc23/img-platform-single-Screen-art5.jpg" class="author-image"
                  alt="Creare un Platform articolo 5">
              </figure>
            </div>
            <div class="media">

              <div class="media-content has-text-centered">
                <p class="title article-title is-6">Come creare un <strong>platform</strong> single Screen <br>
                  <i>Articolo 5</i>
                </p>
                <p class="subtitle is-4 article-subtitle">
                  Creiamo il protagonista del gioco
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

  </div>

</div>
