<section class="hero is-info is-medium is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Un blog per imparare a programmare videogiochi per il web con javascript e non solo</h1>
    </div>
  </div>
</section>


<div class="container">
  <!-- START ARTICLE FEED -->
  <section class="articles">
    <div class="column is-8 is-offset-2">
      <!-- START ARTICLE -->
      <div class="card article">
        <div class="card-content">
          <div class="media-center">
            <figure class="image">
              <img src="https://i.ibb.co/4fCLc23/img-platform-single-Screen-art5.jpg" class="author-image"
                alt="Creare un Platform articolo 5">
            </figure>
          </div>
          <div class="media">

            <div class="media-content has-text-centered">
              <p class="title article-title">Come creare un <strong>platform</strong> single Screen <br> <i>Articolo
                  5</i></p>
              <p class="subtitle is-4 article-subtitle">
                Creiamo il protagonista del gioco
              </p>
              <div class="tags has-addons level-item">
                <span class="tag is-rounded is-info">Cazzaniga Roberto</span>
                <span class="tag is-rounded">Giugno 10, 2019</span>
              </div>
            </div>
          </div>
          <div class="content article-body">
            <p>In questo questo articolo creeremo e faremo muovere il personaggio del nostro platform senza farlo
              scappare dal canvas.</p>
            <br>
            <p class="has-text-centered">
              <a class="button is-medium is-info is-outlined" routerLink="platform/creazione-personaggio">
                Leggi l'articolo
              </a>
            </p>
          </div>
        </div>
      </div>
      <!-- END ARTICLE -->
      <!-- START ARTICLE -->
      <div class="card article">
        <div class="card-content">
          <div class="media-center">
            <figure class="image">
              <img src="https://i.ibb.co/sKMkcPv/img-platform-single-Screen-art4.jpg" class="author-image"
                alt="Creare un Platform articolo 1">
            </figure>
          </div>
          <div class="media">

            <div class="media-content has-text-centered">
              <p class="title article-title">Come creare un <strong>platform</strong> single Screen <br> <i>Articolo
                  4</i></p>
              <p class="subtitle is-4 article-subtitle">
                Iniziamo anzi inizializziamo
              </p>
              <div class="tags has-addons level-item">
                <span class="tag is-rounded is-info">Cazzaniga Roberto</span>
                <span class="tag is-rounded">Giugno 8, 2019</span>
              </div>
            </div>
          </div>
          <div class="content article-body">
            <p>Inizializziamo il canvas e sperimentiamo un po’ con i metodi 2d per la grafica creando una semplicissima
              introduzione al nostro gioco</p>
            <br>
            <p class="has-text-centered">
              <a class="button is-medium is-info is-outlined" routerLink="platform/inizializziamo">
                Leggi l'articolo
              </a>
            </p>
          </div>

        </div>
      </div>
      <!-- END ARTICLE -->
      <!-- START PROMO BLOCK -->
      <section class="hero is-info is-bold is-small promo-block">
        <div class="hero-body">
          <div class="has-text-centered">
            <h1 class="title">
              Se vuoi altri <strong>articoli escusivi</strong>, <br>iscriviti alla newsletter</h1>
            <a class="tag is-warning is-large is-rounded  is-uppercase has-text-weight-semibold">
              newsletter
            </a>
          </div>
        </div>
      </section>
      <!-- END PROMO BLOCK -->
      <!-- START ARTICLE -->
      <!-- START ARTICLE -->
      <div class="card article">
        <div class="card-content">
          <div class="media-center">
            <figure class="image">
              <img src="https://i.ibb.co/FzYN1Xb/img-platform-single-Screen-art3.jpg" class="author-image"
                alt="Creare un Platform articolo 3">
            </figure>
          </div>
          <div class="media">

            <div class="media-content has-text-centered">
              <p class="title article-title">Come creare un <strong>platform</strong> single Screen <br> <i>Articolo
                  3</i></p>
              <p class="subtitle is-4 article-subtitle">
                Iniziamo a strutturare il nostro progetto
              </p>
              <div class="tags has-addons level-item">
                <span class="tag is-rounded is-info">Cazzaniga Roberto</span>
                <span class="tag is-rounded">Giugno 4, 2019</span>
              </div>
            </div>
          </div>
          <div class="content article-body">
            <p>Creiamo i file che ci servono e una breve spiegazione di cos’è il canvas, come funziona e perchè e
              fondamentale per il nostro progratto </p>
            <br>
            <p class="has-text-centered">
              <a class="button is-medium is-info is-outlined" routerLink="platform/canvas">
                Leggi l'articolo
              </a>
            </p>
          </div>
        </div>
      </div>
      <!-- END ARTICLE -->
      <!-- START ARTICLE -->
      <div class="card article">
        <div class="card-content">
          <div class="media-center">
            <figure class="image">
              <img src="https://i.ibb.co/FnWVhpz/img-platform-single-Screen-art2.jpg" class="author-image"
                alt="Creare un Platform articolo 2">
            </figure>
          </div>
          <div class="media">
            <div class="media-content has-text-centered">
              <p class="title article-title">Come creare un <strong>platform</strong> single Screen <br> <i>Articolo
                  2</i></p>
              <p class="subtitle is-4 article-subtitle">
                Scopriamo cosa ci serve per il nostro progratto
              </p>
              <div class="tags has-addons level-item">
                <span class="tag is-rounded is-info">Cazzaniga Roberto</span>
                <span class="tag is-rounded">Maggio 30, 2019</span>
              </div>
            </div>
          </div>
          <div class="content article-body">
            <p>Vediamo cosa ci serve per creare al meglio il nostro videogioco, che conoscenze e che software è meglio
              utilizzare.</p>
            <br>
            <p class="has-text-centered">
              <a class="button is-medium is-info is-outlined" routerLink="platform/cosa-serve">
                Leggi l'articolo
              </a>
            </p>
          </div>
        </div>
      </div>
      <!-- END ARTICLE -->
      <!-- START ARTICLE -->
      <div class="card article">
        <div class="card-content">
          <div class="media-center">
            <figure class="image">
              <img src="https://i.ibb.co/KxgjftS/img-platform-single-Screen-art1.jpg" class="author-image"
                alt="Creare un Platform articolo 1">
            </figure>
          </div>
          <div class="media">
            <div class="media-content has-text-centered">
              <p class="title article-title">Come creare un <strong>platform</strong> single Screen <br> <i>Articolo
                  1</i>
              </p>
              <p class="subtitle is-4 article-subtitle">
                Cosa sono i Platform game
              </p>
              <div class="tags has-addons level-item">
                <span class="tag is-rounded is-info">Cazzaniga Roberto</span>
                <span class="tag is-rounded">Maggio 22, 2019</span>
              </div>
            </div>
          </div>
          <div class="content article-body">
            <p>Iniziamo il nostro corso provando a spiegare cos'è un platform e le guardando alcune delle categorie che
              hanno reso celebre questa tipologia di giochi.</p>
            <br>
            <p class="has-text-centered">
              <a class="button is-medium is-info is-outlined" routerLink="platform/intro">
                Leggi l'articolo
              </a>
            </p>
          </div>
        </div>
      </div>
      <!-- END ARTICLE -->
    </div>
    <!--column is-8 is-offset-2-->
    <!-- END ARTICLE -->
  </section>
  <!-- END ARTICLE FEED -->
</div>
