<section class="hero is-info is-medium is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Un blog per imparare a programmare videogiochi per il web con javascript</h1>
    </div>
  </div>
</section>


<div class="container">
  <!-- START ARTICLE FEED -->
  <section class="articles">
    <div class="column is-8 is-offset-2">
      <!-- START ARTICLE -->
      <div class="card article">
        <div class="card-content">
          <div class="media-center">
            <!-- <img src="" class="author-image" alt="Placeholder image"> -->
          </div>
          <div class="media">

            <div class="media-content has-text-centered">
              <p class="title article-title">Platform: creazione del personaggio</p>
              <p class="subtitle is-6 article-subtitle">
                Come creare un platform single Screen: Articolo 5
              </p>
              <div class="tags has-addons level-item">
                <span class="tag is-rounded is-info">Cazzaniga Roberto</span>
                <span class="tag is-rounded">Giugno 10, 2019</span>
              </div>
            </div>
          </div>
          <div class="content article-body">
            <p>In questo questo articolo creeremo e faremo muovere il personaggio del nostro platform senza farlo
              scappare dal canvas. </p>
            <br>
            <p class="has-text-centered">
              <a class="button is-medium is-info is-outlined" routerLink="platform/creazione-personaggio">
                Leggi l'articolo
              </a>
            </p>
          </div>
        </div>
      </div>
      <!-- END ARTICLE -->
      <!-- START ARTICLE -->
      <div class="card article">
        <div class="card-content">
          <div class="media-center">
            <!-- <img src="" class="author-image" alt="Placeholder image"> -->
          </div>
          <div class="media">

            <div class="media-content has-text-centered">
              <p class="title article-title">Platform: iniziamo anzi inizializziamo</p>
              <p class="subtitle is-6 article-subtitle">
                Come creare un platform single Screen: Articolo 4
              </p>
              <div class="tags has-addons level-item">
                <span class="tag is-rounded is-info">Cazzaniga Roberto</span>
                <span class="tag is-rounded">Giugno 8, 2019</span>
              </div>
            </div>
          </div>
          <div class="content article-body">
            <p>Inizializziamo il canvas e sperimentiamo un po’ con i metodi 2d per la grafica</p>
            <br>
            <p class="has-text-centered">
              <a class="button is-medium is-info is-outlined" routerLink="platform/inizializziamo">
                Leggi l'articolo
              </a>
            </p>
          </div>

        </div>
      </div>
      <!-- END ARTICLE -->
      <!-- START PROMO BLOCK -->
      <section class="hero is-info is-bold is-small promo-block">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Se vuoi altri articoli escusivi, iscriviti alla mia newsletter</h1>
            <span class="tag is-black is-medium is-rounded">
              newsletter
            </span>
          </div>
        </div>
      </section>
      <!-- END PROMO BLOCK -->
      <!-- START ARTICLE -->
      <!-- START ARTICLE -->
      <div class="card article">
        <div class="card-content">
          <div class="media-center">
            <!-- <img src="" class="author-image" alt="Placeholder image"> -->
          </div>
          <div class="media">

            <div class="media-content has-text-centered">
              <p class="title article-title">Platform: canvas</p>
              <p class="subtitle is-6 article-subtitle">
                Come creare un platform single Screen: Articolo 3
              </p>
              <div class="tags has-addons level-item">
                <span class="tag is-rounded is-info">Cazzaniga Roberto</span>
                <span class="tag is-rounded">Giugno 4, 2019</span>
              </div>
            </div>
          </div>
          <div class="content article-body">
            <p>Creiamo i file che ci servono e una breve spiegazione di cos’è il canvas, come funziona e perchè e
              fondamentale per il nostro progratto </p>
            <br>
            <p class="has-text-centered">
              <a class="button is-medium is-info is-outlined" routerLink="platform/canvas">
                Leggi l'articolo
              </a>
            </p>
          </div>
        </div>
      </div>
      <!-- END ARTICLE -->
      <!-- START ARTICLE -->
      <div class="card article">
        <div class="card-content">
          <div class="media-center">
            <!-- <img src="" class="author-image" alt="Placeholder image"> -->
          </div>
          <div class="media">

            <div class="media-content has-text-centered">
              <p class="title article-title">Platform: Requisiti</p>
              <p class="subtitle is-6 article-subtitle">
                Come creare un platform single Screen: Articolo 2
              </p>
              <div class="tags has-addons level-item">
                <span class="tag is-rounded is-info">Cazzaniga Roberto</span>
                <span class="tag is-rounded">Maggio 30, 2019</span>
              </div>
            </div>
          </div>
          <div class="content article-body">
            <p>Vediamo cosa ci serve, requisiti e software, per partire il nostro videogioco</p>
            <br>
            <p class="has-text-centered">
              <a class="button is-medium is-info is-outlined" routerLink="platform/cosa-serve">
                Leggi l'articolo
              </a>
            </p>
          </div>
        </div>
      </div>
      <!-- END ARTICLE -->
      <!-- START ARTICLE -->
      <div class="card article">
        <div class="card-content">
          <div class="media-center">
            <!-- <img src="" class="author-image" alt="Placeholder image"> -->
          </div>
          <div class="media">

            <div class="media-content has-text-centered">
              <p class="title article-title">Platform: Cos'è il genere Platform</p>
              <p class="subtitle is-6 article-subtitle">
                Come creare un platform single Screen: Articolo 1
              </p>
              <div class="tags has-addons level-item">
                <span class="tag is-rounded is-info">Cazzaniga Roberto</span>
                <span class="tag is-rounded">Maggio 22, 2019</span>
              </div>
            </div>
          </div>
          <div class="content article-body">
            <p>Iniziamo il nostro corso provando a spiegare cos'è un platform e le guardando alcune delle categorie che
              hanno reso celebre questa tipologia di giochi</p>
            <br>
            <p class="has-text-centered">
              <a class="button is-medium is-info is-outlined" routerLink="platform/intro">
                Leggi l'articolo
              </a>
            </p>
          </div>
        </div>
      </div>
      <!-- END ARTICLE -->
    </div>
    <!--column is-8 is-offset-2-->
    <!-- END ARTICLE -->
  </section>
  <!-- END ARTICLE FEED -->
</div>
