<!-- routes will be rendered here -->
<!-- <router-outlet></router-outlet> -->
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Platform game: cosa serve?
      </h1>
      <h2 class="subtitle">
        Gli strumenti che ci serviranno per creare il nostro platform game
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="column is-8 is-offset-2">
      <div class="content is-medium">
        <p>
          Vediamo quali competenze e che strumenti dobbiamo avere per iniziare a programmare il nostro gioco, <span
            class="has-text-weight-bold">niente panico‼️...non sarà nulla di complicato 🍹.</span></p>
        <section class="paragraph">
          <h2>Competenze</h2>
          <p>Per iniziare questo progetto dobbiamo avere qualche conoscenza particolare, tra cui: </p>
          <ul>
            <li><span class="has-text-weight-bold">pochissimo Html</span></li>
            <li><span class="has-text-weight-bold">pochissimo Css</span></li>
            <li><span class="has-text-weight-bold">conoscenza base di Javascript</span>, il linguaggio di programmazione
              principe per quanto riguarda il lato client nello sviluppo web.</li>
          </ul>
          <figure class="image">
            <img src="https://i.ibb.co/6rW6Lcw/html-css-js.jpg" alt="html css javascript">
          </figure>
          <p>
            Per quanto riguarda quest’ultimo, useremo la versione <span class="is-italic">Es6</span>, che ad oggi è la
            più moderna e permette l’utilizzo di molte funzioni che lo hanno migliorato di tanto.</p>
          <p>
            Non vi spaventate se siete alle prime armi o non conoscete bene il linguaggio, <span
              class="has-text-weight-bold"> cercherò di essere il più
              chiaro ed il più esaustivo possibile.</span> <br>
            In caso di dubbi o se non mi sono spiegato bene non fatevi problemi a <span class="has-text-weight-bold"><a
                href="#">contattarmi</a> 🤙
              per chiarimenti, correzioni o suggerimenti.</span>
          </p>
          <p>
            In questo progetto, volutamente, non userò nessun game engine come Phaser o Pixi.js, non perchè sia contro,
            anzi, facilitano di molto la creazione dei giochi e sicuramente, nel tempo, scriverò qualche articolo sui
            più utilizzati, ma, a mio parere, nella programmazione, <span class="has-text-weight-bold">se si conosce il
              linguaggio nella forma più pura e si acquisiscono delle solide basi 💪</span>, quando poi si andrà ad
            utilizzare dei framework, sarà tutto
            più facile e
            non si avrà alcuna difficoltà a capirli e quindi ad utilizzarli al meglio.
          </p>
        </section>
        <br>
        <section class="paragraph">
          <h2>Software</h2>
          <p>Per iniziare a programmare abbiamo bisogno solo di due programmi.</p>
          <p>Il primo, lo avete di default nel vostro sistema operativo, sia che usiate Windows ( come me ), MacOs o
            Linux ed è il browser di navigazione, anche se mi auguro con tutto il cuore che nel tempo voi lo abbiate
            sostituito quello di default 🤢 con uno più valido.</p>
          <p>Se posso consigliare, <span class="has-text-weight-bold"><a href="https://www.mozilla.org/it/">“Firefox” di
                Mozilla</a> </span> è uno dei migliori, ma anche <a href="https://www.google.com/intl/it/chrome/">Chrome
              di Google</a> va benissimo.</p>
          <p>Questo ci servirà per visualizzare il nostro gioco a schermo e a controllare gli eventuali errori.</p>
          <br>

          <p>Ora che abbiamo il browser adeguato, ci serve il programma per scrivere il nostro codice.</p>
          <p>Potremmo usare anche un semplice editor di testo, ma ci complicheremmo la vita, mentre, con un <span
              class="has-text-weight-bold">javascript
              IDE</span> (ambiente di sviluppo integrato) , non l’ho inventato io l’acronimo, <span
              class="has-text-weight-bold">avremmo un sacco di funzionalità
              basi molto utili</span> e la possibilità di aggiungerle installando delle estensioni che ci permetteranno
            di
            personalizzare il nostro programma come meglio crediamo.</p>
          <p>In internet ne trovate tantissimi, ma io mi sono permesso di farvi una breve lista di quelli che ho testato
            sul campo: </p>
          <ul>
            <br>
            <li>
              <h4><a href="https://www.jetbrains.com/webstorm/">Web storm</a></h4>
              <p>Un buon IDE, completo, stabile e con caratteristiche che facilitano di molto la programmazione. è
                l’unico dei tre, a pagamento, l’ho dovuto abbandonare una volta scaduta la licenza. </p>
            </li>
            <br><br>
            <li>
              <h4><a href="https://atom.io/">Atom</a></h4>
              <p>Per piccoli progetti non è male, dei tre è quello con meno caratteristiche.
                Se volete un IDE leggero e senza troppe pretese, sicuramente è da provare.
              </p>
            </li>
            <br><br>
            <li>
              <h4><a href="https://code.visualstudio.com/"> 🎉 Visual studio code 🎉</a></h4>
              <p>Un prodotto Microsoft e per questo mi sono approcciato con diffidenza, ma Visual studio code, mi ha
                fatto cambiare subito idea.</p>
              <p>Open source, con una comunità che lavora per migliorarlo costantemente e
                pieno di estensioni di terze parti fanno di questo <span class="has-text-weight-bold">il miglior IDE
                  gratuito in circolazione.</span></p>
              <h4>CONSIGLIATISSIMO!!!</h4>
              <figure class="image">
                <img src="https://i.ibb.co/FJF3vGG/surprised-face.jpg" alt="html css javascript">
              </figure>
            </li>
            <br><br>
          </ul>
          <p> Tutti i programmi sono disponibili per tutte le piattaforme, quindi Windows, Mac e Linux.</p>
          <p>Adesso che abbiamo tutto l’occorrente possiamo iniziare a programmare il nostro videogame e scoprire il
            magico mondo del Canvas 🧙‍.</p>
        </section>
        <br><br>
        <section class="paragraph">
          <h2>Conclusione</h2>
          <p>In questo articolo abbiamo visto che per il nostro progetto ci servono delle competenze basi
            di html, css e javascript e che per iniziare dobbiamo scaricare un browers e un ide dove scrivere il nostro
            codice.
          </p>
          <p>
            Nel prossimo articolo capieremo cos'è il <a routerLink="platform/canvas"> Canvas </a> e quali sono i file
            utili per il funzionamento.</p>
          <p>Analizzeremo anche quando utilizzare questo fantastico strumento e quando è sconsigliato, ebbene si, non va
            bene in tutti casi 😉</p>
          <p>Se non lo avete ancora fatto iscrivetevi alla newsletter.</p>
          <p>Se invece siete già iscritti...cosa aspettate?</p>
          <p>
            👉 <a routerLink="platform/canvas"> Come creare un <strong>platform</strong> single
              Screen <i>Articolo 3</i></a> 👈
          </p>
        </section>
      </div>
      <app-newsletter-block></app-newsletter-block>
    </div>
    <!-- column is-8 is-offset-2 -->
  </div>
  <!-- container -->
</section>
<!-- section -->
