<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Platform game: Canvas
      </h1>
      <h2 class="subtitle">
        Gli strumenti che ci serviranno per creare il nostro platform game
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="column is-8 is-offset-2">
      <div class="content is-medium">
        <p>Iniziamo strutturando il nostro progetto, creando i file html, css e js con le impostazioni base.</p>
        <p>Potremmo mettere tutto in un unico file html, ma è sempre meglio tenerli separati, così che se il progetto
          dovesse
          allargarsi non sorgano problemi di leggibilità 🧐 e debugging.</p>
        <section class="paragraph">
          <h2>HTML</h2>

          <pre><code [highlight]="htmlCode"></code></pre>

          <p>Creiamo il file <span class="is-italic">index.html</span> che ha una sua struttura base, l’unica novità è
            il tag <span class="is-italic">&lt;canvas&gt;</span> che è
            <span class="has-text-weight-bold">la
              nostra “tela digitale” dove andremo a dipingere il nostro capolavoro.</span></p>

          <p>“Tela 🖼️? Ma cosa siamo pittori 👨‍🎨?” No, non sono impazzito, o per lo meno, non del tutto.</p>

          <p>Ho parlato di tela digitale perché il canvas ( che in inglese significa Tela ) è <span
              class="has-text-weight-bold">un elemento html che ci
              permetterà di disegnare e gestire il nostro gioco interamente con Javascript.</span></p>
          <figure class="image">
            <img src="https://i.ibb.co/s1b0mm0/canvas.jpg" alt="canvas : tela digitale">
            <figcaption class="is-size-6">Il canvas è una tela digitale</figcaption>
          </figure>

          <p>Il canvas è nato per sostituire una tecnologia, “Adobe Flash”, un programma di terze parti che serviva per
            la gestione di video e giochi vettoriali, aveva un notevole successo per le tante animazioni che conteneva
            al
            suo interno, ma, aveva seri problemi di sicurezza quindi si è deciso di rimpiazzarlo con <span
              class="has-text-weight-bold">un elemento html nativo.</span>
          </p>

          <p>Dopo questa postilla, torniamo a noi, dunque quello che vedete nel file Index è <span
              class="has-text-weight-bold">tutto l’html che ci serve
              per il
              nostro progetto</span>: un tag <span class="is-italic">&lt;canvas&gt;</span> con identificativo ( Id ) per
            catturarlo con javascript. con
            tanta
            fantasia, lo chiameremo <span class="is-italic">“myCanvas”</span>.</p>
        </section>
        <br>
        <section class="paragraph">
          <h2>CSS</h2>
          <p>Dopo aver impostato la struttura del nostro progetto, dobbiamo <span class="has-text-weight-bold">dedicarci
              allo stile</span> e per farlo, dobbiamo
            creare un file <span class="is-italic">style.css</span></p>
          <pre><code [highlight]="cssCode"></code></pre>
          <p>Nel body abbiamo aggiunto il modulo flaxbox, “display: flex;“ poi, abbiamo impostato il layout, mettendo il
            canvas al
            centro ,<span class="is-italic">”align-items: center;“</span> e <span class="is-italic">“justify-content:
              center;“</span> successivamente abbiamo dato un’altezza, una
            larghezza e
            uno spessore, diversamente , non si vedrebbe a video.</p>
          <p>E questo, è tutto ciò che ci serve per il caso.</p>
        </section>
        <br>
        <section class="paragraph">
          <h2>JS</h2>
          <p>Ultimo, ma non per ordine di importanza, è il file main.js che, creeremo ma per adesso lasceremo vuoto
          </p>
          <p>Se siete tipi curiosi 😏 e impazienti e volete controllare se funziona potete aggiungere il comando
            <span class="is-italic"> console.log (‘Ciao,
              vengo letto correttamente’)</span>, il quale, visualizza una scritta sulla console se tutto è andato a
            buon
            fine.
          </p>
        </section>
        <br>
        <section class="paragraph">
          <h2>COME FUNZIONA IL CANVAS?</h2>
          <p>Bella domanda, bravi! 👏</p>
          <p>Analizziamo come funziona il canvas, così da capirlo e padroneggiarlo, visto che sarà un <span
              class="has-text-weight-bold">tassello
              fondamentale per
              quasi tutti i giochi che andremo a creare.</span></p>
          <p>Dobbiamo immaginarci <span class="has-text-weight-bold">il canvas come una griglia di pixel</span> che
            parte dal punto di origine O e si sviluppa
            sull’asse
            delle X in larghezza e sull’asse delle Y in lunghezza.</p>
          <figure class="image">
            <img src="https://i.ibb.co/74bB2x2/canvas-Grid.jpg" alt="griglia canvas">
            <figcaption class="is-size-6">Figura 1 - il canvas è formata da una griglia di pixel</figcaption>
          </figure>
          <p><span class="has-text-weight-bold">Grazie alle coordinate della nostra griglia possiamo creare “oggetti” e
              posizionarli nello spazio</span> ( in
            seguito ci serviranno anche per spostarli).</p>
          <p>Nell’esempio ( figura 2 ) ho posizionato un quadrato di 40X40 pixel nelle coordinate x:50 e y:40
            rispetto al punto di origine 0 che ha coordinate x:0, y:0.</p>
          <figure class="image">
            <img src="https://i.ibb.co/dLqYjj8/canvas-Position.jpg" alt="canvas">
            <figcaption class="is-size-6">Figura 2 - Il quadrato è alle coordinate x: 50px e y: 40px</figcaption>
          </figure>
        </section>
        <br>
        <section class="paragraph">
          <h2>Pro 🔺 e contro 🔻 del canvas</h2>
          <p>Quando è perché bisogna usarlo e quando invece sono meglio altre soluzioni</p>

          <h3>Pro</h3>
          <ul>
            <li><span class="has-text-weight-bold">Le animazioni</span> 🎞️ sono molte più <span
                class="has-text-weight-bold">veloci e fluide</span>, specialmente quando ci sono tanti elementi.</li>
            <li><span class="has-text-weight-bold">Controllo</span> totale su tutti gli elementi <span
                class="has-text-weight-bold">grazie al javascript.</span></li>
            <li><span class="has-text-weight-bold">Gestione della memoria ottimizzata.</span> Questo significa, notevole
              risparmio di memoria </li>
            <li><span class="has-text-weight-bold">Elevata gestione di calcolo 🧠.</span>
              Esempio: nei videogiochi dove ogni secondo ( il tempo dipende dal frame rate ) bisogna calcolare
              spostamenti, collisioni, input della tastiera o del mouse su svariati oggetti presenti nel canvas c’è
              bisogno di una <span class="has-text-weight-bold">tecnologia in grado di gestire tutto ciò senza
                rallentamenti</span>.
            </li>
          </ul>
          <h3>Contro</h3>
          <ul>
            <li>Complesso, che non vuol dire complicato, ma va certamente studiato e compreso! 😨 Che è quella faccia?
              Niente paura...<span class="has-text-weight-bold">con le mie guide il canvas non avrà più segreti.</span>
              <br>
              Se nel vostro progetto dovete animare pochi elementi, magari al click del mouse o non avete bisogno di un
              refresh continuo, è inutile complicarsi la vita con il canvas, vi conviene gestirlo con il css. <br>
              Per capirci, prenderesti mai un pullman 🚌 50 posti per andare a fare la spesa 🛍️ nel market dietro
              casa???</li>
            <li>Perde di fluidità all’aumentare delle dimensioni e del numero di elementi da gestire.</li>
          </ul>
        </section>

        <section class="paragraph">
          <h2>Conclusione</h2>
          <p>
            In questo articolo abbiamo a grandi linee capito cos'è il canvas e quando è bene usarlo.
          </p>
          <p>Poi abbiamo posizionato il tag canvas nel file html e gli abbiamo dato uno stile con il css,
            adesso é il momento di passare all’azione, nell’articolo successivo, <a
              routerLink="platform/inizializziamo">iniziamo, anzi inizializziamo</a>, dove
            inizieremo finalmente a programmare con javascript, che sarà il cuore di tutto il videogioco.
          </p>
          <p>Se non lo avete ancora fatto iscrivetevi alla newsletter.</p>
          <p>Se invece siete già iscritti...cosa aspettate?</p>
          <p>
            👉 <a routerLink="/platform/inizializziamo"> Come creare un <strong>platform</strong> single
              Screen <i>Articolo 4</i></a> 👈
          </p>
        </section>
        <br>
        <app-newsletter-block></app-newsletter-block>
        <br>
        <app-end-on-all-page-blog></app-end-on-all-page-blog>
      </div>
    </div>
    <!-- column is-8 is-offset-2 -->
  </div>
  <!-- container -->
</section>
<!-- section -->
